@page "/"

<section>
    <div class="row">
        <div class="col">
            <h2>Suggestions:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-2-md col-1-lg">
            <EditForm Model="Preferences">
                <InputSelect id="select" @bind-Value="Preferences.Count">
                    @foreach (var i in Enumerable.Range(SuggestionsConfiguration.MinCount, SuggestionsConfiguration.MaxCount))
                    {
                        <option>@i</option>
                    }
                </InputSelect>

            </EditForm>
        </div>
        <div class="col">
            <button type="button" title="Scroll to bottom" class="button accent outline " @onclick="() => RefreshCompletions(Preferences)">
                <i class="fas fa-sync"></i> Refresh
            </button>
            @if (Completions is not null)
            {
                foreach (var completion in Completions)
                {
                    <button type="button" title="Scroll to bottom" class="button light" @onclick="() => TypeText(completion)">
                        @completion
                    </button>
                }
            }
            else
            {
                <i>---</i>
            }
        </div>
    </div>

    <div class="row">
        <div class="col">
            <TabContainer>
                <Tab>
                    <TabContent>
                        <i class="fas fa-pen-fancy"></i> Editor
                        <div class="pull-right">
                            <button type="button" title="Scroll to bottom" class="button accent outline is-medium" @onclick="ScrollToBottomAsync">
                                <i class="fas fa-list-ol"></i>
                            </button>
                            <button type="button" title="Clear screen" class="button error outline is-medium" @onclick="ClearTerminalAsync">
                                <i class="fas fa-eraser"></i>
                            </button>
                        </div>
                    </TabContent>
                    <ChildContent>
                        @if (!IsInitialized)
                        {
                            <div class="row">
                                <div class="col">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <WaveLoader IsAlternativeColor="true" />
                                </div>
                            </div>
                        }

                        <div id="container" style="height: 75vh;"></div>
                    </ChildContent>
                </Tab>
            </TabContainer>
        </div>
    </div>
</section>
